{% extends "base.html" %}

{% block content %}
<h2>This is the start of my block content located in exercise_sessions.html</h2>
<p>Here's my exercise sessions:</p>
<p>{{ sessions }}</p>
{% for session in sessions %}
    {% if forloop.last %}
        {{ session }}
    {% endif %}
{% endfor %}
<table>
    {% for session in sessions %}
        <tr>
            <td>{{ session.type_select.name }}</td>
            <td>{{ session.measurement }}</td>
            <td>{{ session.type_select.measurement }}</td>
            <td>{{ session.session_date }}</td>
            <td>{{ session.additonal_notes }}</td>
            <td>
                <a href="/edit_exercise_session/{{ session.id }}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <a href="/delete_exercise_session/{{ session.id }}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="/add_exercise_session"> Add a new exercise session:</a>
{% endblock content %}